@model OneWordStory.WebUI.Models.Login
@{
    ViewBag.Title = "Welcome to One Word Story";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script>





    var onLoad  = function()
    {
        setEvents();
    }

    var setEvents = function ()
    {
        $('#showHideButton').click(showHideButton);

    }

    var replacePasswordBox = function (type) {
        "use strict";

        var $passwordBox = $('#password').clone();
        $passwordBox.attr('type', type);

        $("#password").replaceWith($passwordBox);
        $passwordBox.focus();

    }

    var showHideButton = function () {
        "use strict";

        if (this.innerText == "hide") {
            replacePasswordBox("password");
            this.innerText = "show";
        }
        else {
            replacePasswordBox("text");
            this.innerText = "hide";
        }

    }

    var syncToHidden = function () {
        "use strict";

        $("#Password").val($(this).val());
    }

    $(onLoad);

</script>




        If you haven't registered yet, just fill in your email and password and an account will be created for you.

        @using (Html.BeginForm("Login", "Home"))
        {

            <span class="error-message">@ViewBag.Error</span>
            <fieldset>
            <ul class="form">
                <li>Email:</li>
                <li>@Html.EditorFor(m => m.Email)</li>
                <li>@Html.ValidationMessageFor(m => m.Email)</li>
                <li>Password: </li>

                <li>
                    <input id="password" name="password" type="text" value="" autocomplete="off" />
                    <span id="showHideButton" class="ShowHide">hide</span>
                    </li><li>
                    @Html.ValidationMessageFor(m => m.Password)
                        

                </li>
                <li>
                    <input type="submit" class="btn-primary" value="Login"  />


                    
                </li>
            </ul>
                </fieldset>
        }




