@model OneWordStory.WebUI.Models.StoryPageView
@using Extensions;


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="col-lg-3">
    <h2>Your stories</h2>

  
    <div id="StoryList" data-bind="foreach: UserStoryList">
       <p>
            <a href="" data-bind="text: Preview, click: $parent.GetCurrentStory"></a>    
        </p>
    </div>




</div>

<div class="col-lg-9">


    <div id="storyBody" data-bind="with: CurrentStory">
        <span data-bind="foreach: Paragraphs">
        <p data-bind="text: $data">
            
        </p>
        </span>

    <div id="lockStoryButton" data-bind="visible: $root.ShowAddWordButton">
        <button type="button" id="lockStory" class="btn btn-primary btn-xs" data-bind="click: $root.LockStory" >Add Word</button>
    </div>
    
    <div id="addWordForm" data-bind="visible: $root.ShowAddWordForm">
            <p class="text-warning">
                You have 10 minutes to add a word<p>
                    <div class="col-lg-2">
                        <label class="control-label" for="inputSmall">Add word</label>
                        <input class="form-control input-sm" type="text" id="inputWord" data-bind="value: $root.WordToAdd">
                        <button type="button" id="addWord" class="btn btn-primary btn-xs"  data-bind="click: $root.AddWord">Add</button>
                        <input id="addParagraph" type="checkbox" data-bind="checked: $root.AddParagraph"  />
                        Add Paragraph
        
                    </div>
        </div>

    <div id="addWordError" class="text-primary" data-bind="text: $root.SelectStoryError"></div>
    
    </div>

    
        


</div>





<script>

    var currentUser = "@User.Identity.Name";

</script>
<script src="~/Scripts/Views/ajaxService.js"></script>
<script src="~/Scripts/Views/Stories/Index.DataServices.js"></script>
<script src="~/Scripts/Views/Stories/Index.ViewModel.js"></script>
<script src="~/Scripts/Views/Stories/Index.Functions.js"></script>

<script>



</script>

